
.question {
background-color: white;
position: relative;
border: 0.1em solid lightgrey;
padding: 0.5em;
margin: 1em 1em;
    clear:left;
}

.question__text {
    display: block;
}

@keyframes example {
    from {padding: 0.5em;}
    to {padding: 1.2em;}
}

.question__answer {
    font-color: blue;
    padding: 0.5em;
    margin: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    /*animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
}

.question__thanks {
    font-color: black;
    background-color: lightgreen;
    padding: 0.5em;
}

.question__onward {
    display: inline;
    background-color: lightgray;
    border: 1px solid red;
    padding: 0.5em;
    width: 50px;
}

.question__icecream {
    display: inline;
    background-color: lightgray;
    border: 1px solid white;
    padding: 0.5em;
    height: 200px;
}

.question__thanks__wrapper {
    display: none;
}

.question__why {
    float: right;
    font-size: small;
}